p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bonus {
  color: rgb(44, 44, 44);
  font-size: 30px;
}

.bonus::first-letter {
  /* Bonus !! */
  color: rgb(255, 88, 88);
  font-weight: bold;
  font-size: 45px;
  text-decoration: underline rgb(63, 115, 255);
}

h1 {
  margin-top: 25px;
  font-size: 40px;
  color: rgb(255, 107, 70);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
}

nav {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 40px rgba(94, 121, 255, 0.8);
  display: flex;
  overflow: hidden;
  position: relative;
}

.nav-item {
  color: #83818c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
  padding: 20px;

  position: relative;
  padding-bottom: 0px;
  position: relative;
}

.nav-item:hover {
  color: #414141;
  font-weight: bold;
}

.nav-item-active {
  color: #6340ff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
  padding: 20px;

  position: relative;
  font-weight: bold;
}

.nav-item-active:hover {
  font-weight: bold;
}
.TextNavBarActive {
  color: #6340ff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
  text-decoration: none;
  margin-left: 15px;
  font-size: 25px;
}

.TextNavBar {
  color: #83818c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
  text-decoration: none;
  margin-left: 15px;
  font-size: 25px;
}

.columns {
  display: flex;
  justify-content: center;
}

.column:first-child {
  flex: 1.5;
}
.column:last-child {
  flex: 1;
}

.FlecheLi {
  list-style-image: url("Fleche.png");
}

.liste {
  font-size: 25px;
  list-style-image: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: "➔";
}

.liste2 {
  font-size: 20px;
  list-style-image: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: decimal;
  margin-bottom: 5px;
}
.bold {
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
}

.colorRed {
  color: rgb(255, 78, 78);
  font-weight: bold;
  font-size: 15px;
}

.ImgAlgoGlou {
  margin-left: 60px;
  margin-top: 20px;
}
.ImgAlgoGlou:hover {
  transform: rotate(5deg) scale(1.2);
}

.ResultMonnaie {
  border-radius: 25px;
  border: solid;
  border-color: #a591ff9d;
  border-width: 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.textResultMonnaie {
  margin-top: 19px;
  margin-left: 40px;
  font-weight: 500;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 78, 78);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
}

#inputMonnaie {
  margin-left: 30px;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#buttonMoney {
  margin-left: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#buttonMoney:hover {
  background-color: #0056b3;
}

.container {
  margin-left: 50px;
  width: 80%;
  height: 98%;
  background-color: white;
  box-shadow: 0 0 5px rgb(40, 140, 255);
}

.container-onglet {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  width: 100%;
  height: 15%;
  display: flex;
  border-bottom: 1px solid black;
}

.onglets {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
.onglets:not(.active):hover {
  background-color: #dadada;
}

.contenu {
  margin-left: 10px;
  display: none;
  height: 85%;
  position: relative;
  overflow: hidden;
}
.contenu.activeContenu {
  display: block;
}

pre {
  max-width: 100%;
  max-height: 100%;
  height: 95%;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f5f5f5;
  padding: 10px;
  box-sizing: border-box;
}

.active {
  background-color: rgb(126, 126, 255);
  color: white;
}
.txtGris {
  color: gray;
  font-size: 15px;
}

.voirPlusWikip {
  color: rgba(90, 161, 255, 0.795);
  font-weight: bold;
  font-size: 15px;
  margin-left: 5px;
}
.voirPlusCommande {
  color: rgba(90, 161, 255, 0.795);
  font-weight: bold;
  font-size: 20px;
  margin-left: 5px;
}
.LesJeudis {
  color: rgba(32, 129, 255, 0.795);
  font-weight: bold;
  font-size: 25px;
  margin-left: 5px;
}

.table {
  margin-left: 2%;
  width: 90%;
  border-collapse: collapse;
}

th {
  color: white;
  background-color: #373196;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
th,
td {
  border: 2px solid #373196;
  padding: 14px;
}

th.large,
td.large {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 85%;
  font-size: 20px;
}
td.commande {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

tbody tr,
td,
th {
  border: 2px solid rgb(202, 202, 202);
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

h6 {
  font-size: 25px;
  color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  margin-bottom: 6px;
  margin-left: 2%;
}

.containerQuizz {
  margin-left: 25px;
  font-weight: 600;
  max-width: 1000px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(89, 150, 255);
}
#question-container {
  margin-bottom: 20px;
}

#options-container {
  display: flex;
  flex-direction: column;
}

#question {
  font-size: 30px;
}

.option {
  margin-bottom: 10px;
  height: 90px;
  max-width: 90%;
  background-color: #6294ff;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  margin-left: 4%;
  cursor: pointer;
}

.option:hover {
  background-color: #1e69ab;
}

#next-button {
  background-color: rgba(255, 102, 102, 0.791);
  border: none;
  border-radius: 15px;
  width: 100px;
  color: white;
  font-weight: bold;
  height: 40px;
}

#replay {
  background-color: rgba(255, 102, 102, 0.791);
  border: none;
  border-radius: 15px;
  width: 100px;
  color: white;
  font-weight: bold;
  height: 40px;
}

.containerForm {
  margin-left: 30px;
  font-weight: 600;
  max-width: 90%;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(89, 150, 255);
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 500px;
  max-height: 200px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.Baniere {
  width: 100%;
}

.Acceuil {
  margin: 0px;
}

.TextAcceuil {
  padding-left: 20px;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(35, 35, 35);
  font-weight: bold;
}
